# Quartus generated output
db/
incremental_db/
output_files/
simulation/
*.qws
*.jdi
*.pin
*.smsg
*.rpt
*.summary
*.done
*.sof
*.pof
*.sld
*.eda.rpt
*.jditmp
qar_info.json

# Backup files
*.bak
*.v.bak

# Qsys generated
*.sopcinfo
*.spd
*.ip
